.poleone{
    margin: 20px;
    display: grid;
    grid-template-areas: "1fr 1fr";
    gap: 2px;
}
.poletwo{
    margin: 20px;
    display: grid;
    grid-template-areas: "1fr 1fr";
    gap: 2px;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
